/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    width: 100%;
    height:100%;
}

.stick {
    position: sticky !important;
    top: 0 !important;;
    border: 1px solid yellow;
}

.msgOuterContainer {
    height: calc(100vh - 230px);
}

/* overide css of leaflet */
.leaflet-container{
    height: calc(100vh - 126px);
    width: 100%;
}

.leaflet-popup-content p{
    margin: 12px 0px !important;
}